.form {
  display: flex;
  flex-wrap: wrap;
  @media only screen and (max-width: 800px) {
    justify-content: space-between;
  }
  &__group {
    display: flex;
    flex-direction: column;
  }
  &__label {
    color: var(--color-grey);
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 0.5rem;
    @media only screen and (max-width: 410px) {
    font-size: .7rem;
    margin-bottom: 0.2rem;
    }
  }
  &__input {
    box-sizing: border-box;
    width: 10rem;
    height: 4.375rem;
    font-size: 2rem;
    padding: 1.25rem;
    margin-right: 2rem;
    border: 0.1px solid var(--color-grey);
    background-color: var(--color-white-dark);
    border-radius: 0.5rem;
    caret-color: var(--color-primary);
    font-weight: 700;
    @media only screen and (max-width: 800px) {
        width: 6.31rem;
        margin-right: 0;
        font-size: 1.5rem;
    }
    @media only screen and (max-width: 410px) {
      width: 5.31rem;
      font-size: 1.3rem;
      height: 3rem;
    }
    &::placeholder {
      font-weight: 700;
    }
    &:focus {
      outline: 1px solid var(--color-primary);
    }
}
&__invalid{
    outline: none;
    border: 1px solid var(--color-error);
  }
}
.error{
    &__label{
        color: var(--color-error);
    }
    &__text{
        color: var(--color-error);
        font-weight: 400;
        font-style: italic;
        font-size: .8rem;
        @media only screen and (max-width:800px) {
            font-size: .6rem;
            
        }
        @media only screen and (max-width:410px) {
            font-size: .5rem;
            
        }

    }
}